body{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  line-height: 50px;
  background-image: url(https://images.pexels.com/photos/60561/winter-snow-nature-60561.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

.estilo {
  font-size: medium;
  fon
}

.fonte {
  font-family: 'Montserrat', sans-serif;
}