ol li:nth-child(odd){
    background-color: yellow;
    font-weight: bold;
}

ol li:nth-child(even){
    color: green;
    font-weight: bold;
}

h1, h3{
    color: red;
}

li{
    font-size: 20px;
}

.primeiras{
    color: blue;
}

.java{
    background-color: palevioletred;
}

